# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.cache/

# Virtualenv
.venv/
venv/

# Environment
.env

# Build
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Exports
exports/
/tmp/yt_exports/

# Redis dump
*.rdb
